header {
  min-height: 100vh;
  padding: $space4 0;
  position: relative;

  p {
    color: white;
    &:first-child {
      max-width: 90%;
      margin: 0 auto;
      text-align: right;
    }
  }
  .hero-content {
    text-align: center;
    padding: $space4 0;
    max-width: 90%;
    margin: 0 auto;

    @media screen and ($tablet) {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
