main {
  .offer {
    background-color: white;
  }
  .contact-form {
    @media screen and ($desktop) {
      //   align-items: center;
      display: flex;
      gap: $space5;

      & > div {
        max-width: 40%;
      }
    }

    h2,
    h3,
    p {
      color: white;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: $space4 0;
      padding: $space4 $space4 $space2 $space4;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: $borderRadius;
      label {
        @include websiteFont(500, $colorNeutralVeryDark, 0.8rem);
        margin: 0 $space1 0 0;
      }
      input,
      textarea {
        width: 100%;

        border-radius: $borderRadius;
        border: none;
        margin-top: calc(0.5 * $space1);
        margin-bottom: $space2;
        padding: 0 $space2;
        font-family: $webFont;
        font-size: 0.8rem;
        &:focus {
          border: 1px solid $colorPrimary;
        }
        &::placeholder {
          opacity: 0.5;
        }
      }
      input:not([type="checkbox"]) {
        min-height: 3rem;
      }
      textarea {
        padding-top: $space2;
      }
      & > div {
        padding: calc($space1 * .5) 0;
      }
      input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
        line-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top: 3px;
        color: white;
        &:checked {
          accent-color: $colorPrimary;
          color: white;
        }
      }
      button {
        align-self: center;
      }
    }
    .input-error {
      border: 1px solid $colorAlert;
    }
    .error-message {
      @include websiteFont(500, $colorAlert, 0.8rem);
      display: inline-block;
      
    }
  }
}
