@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  h1 {
    @include websiteFont(700, white, 2.5rem) {
      margin: $space4 0;
    }
  }
  h2 {
    @include websiteFont(500, $colorNeutralDark, 2rem) {
      margin: $space4 0;
    }
  }
  h3 {
    @include websiteFont(500, $colorNeutralDark, 1.3rem) {
      margin: $space4 0;
    }
  }
  h4 {
    @include websiteFont(500, $colorNeutralDark, 1.2rem) {
      margin: $space4 0;
    }
  }
  p, address {
    @include websiteFont(400, $colorNeutralDark, 1rem) {
      margin: 1rem 0;
    }
  }
  small {
    @include websiteFont(300, white, .6rem);
    opacity: 0.5;
  }
  a {
    font-family: $webFont;
    text-decoration: none;
    color: inherit;
    &.call-us {
      font-weight: 700;
      font-size: 1.3rem;
      display: inline-block;
    }
    &.primary {
      display: inline-block;
      @include button($colorPrimary, none, white);
    }
    &.secondary {
      display: inline-block;
      @include button(transparent, 2px solid $colorPrimary, $colorPrimary);
    }
  }
  button.primary {
    @include button($colorPrimary, none, white);
    font-family: $webFont;
  }
  button.secondary {
    @include button(transparent, 1px solid $colorPrimary, $colorPrimary);
    font-family: $webFont;
  }
  .scroll-to-top-btn {
  // display: none;
  position: fixed;
  bottom: $space3;
  right: $space3;
  width: 3rem;
  height: 3rem;
  z-index: 99;
  @include button(transparent, 2px solid $colorPrimary, $colorPrimary);
  margin: 0;
  padding: 0;
  font-family: $webFont;
  
  div {
    width: 1rem;
    height: 1rem;
    border-top: 2px solid $colorPrimary;
    border-left: 2px solid $colorPrimary;
    transform: rotate(45deg);
    position: relative;
    left: 14px;
    top: 4px;
  }
  }
  .container {
    width: 90%;
    max-width: $sizeContent;
    margin: 0 auto;
    padding: $space5 0;
    display: table;
    position: relative;;
    .center-group {
      display: table-cell;
      vertical-align: middle;
      align-items: center;
    }
  }
}
.background-image {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
//   background-attachment: fixed;
  position: fixed;
  left: -1px;
  z-index: -1;
}
