@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  h1 {
    @include websiteFont(700, white, $h1mobile) {
      margin: $space4 0;
    }
  }
  h2 {
    @include websiteFont(500, $colorNeutralDark, $h2mobile) {
      margin: $space4 0;
    }
  }
  h3 {
    @include websiteFont(500, $colorNeutralDark, $h3mobile) {
      margin: $space4 0;
    }
  }
  h4 {
    @include websiteFont(500, $colorNeutralDark, $h4mobile) {
      margin: $space4 0;
    }
  }
  p,
  address {
    @include websiteFont(400, $colorNeutralDark, $pmobile) {
      margin: 1rem 0;
    }
  }
  @media screen and ($tablet) {
    h1 {
      font-size: $h1desktop;
    }
    h2 {
      font-size: $h2desktop;
    }
    h3 {
      font-size: $h3desktop;
    }
    h4 {
      font-size: $h4desktop;
    }
    p {
      font-size: $pdesktop
    }
  }
  small {
    @include websiteFont(300, white, 0.6rem);
    opacity: 0.5;
  }
  a {
    font-family: $webFont;
    text-decoration: none;
    color: inherit;
    &.call-us {
      font-weight: 700;
      font-size: $h3desktop;
      display: inline-block;
    }
    &.primary {
      display: inline-block;
      @include button($colorPrimary, none, white);
    }
    &.secondary {
      display: inline-block;
      @include button(transparent, 2px solid $colorPrimary, $colorPrimary);
    }
  }
  button.primary {
    @include button($colorPrimary, none, white);
    font-family: $webFont;
  }
  button.secondary {
    @include button(transparent, 1px solid $colorPrimary, $colorPrimary);
    font-family: $webFont;
  }
  .scroll-to-top-btn {
    @include button(transparent, 2px solid $colorPrimary, $colorPrimary);
    font-family: $webFont;
    position: fixed;
    bottom: $space3;
    right: 5%;
    width: 3rem;
    height: 3rem;
    z-index: 99;
    margin: 0;
    padding: 0;
    @media screen and ($desktop) {
      right: $space3;
    }
    

    div {
      width: 1rem;
      height: 1rem;
      border-top: 2px solid $colorPrimary;
      border-left: 2px solid $colorPrimary;
      transform: rotate(45deg);
      position: relative;
      left: 14px;
      top: 4px;
    }
  }
  .container {
    width: 90%;
    max-width: $sizeContent;
    margin: 0 auto;
    padding: $space4 0;
    display: table;
    position: relative;
    @media screen and ($tablet) {
      padding: $space5 0;
    }
    .center-group {
      display: table-cell;
      vertical-align: middle;
      align-items: center;
    }
  }
}
.background-image {
  min-height: 100vh;
  width: calc(100% + 1px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   background-attachment: fixed;
  position: fixed;
  left: -1px;
  z-index: -1;
}
